#offscreen-nav ul {
  list-style-type: none;
  font-size: 2em;
  padding: 5%;
}

#offscreen-nav {
  background: yellow;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  overflow: hidden;
}

#close-button {
  float: right;
  padding: 5px;
}

#moreInfo {
  color: blue;
}

#tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px gray;
  position: absolute;
  opacity: 0;
}

#tooltip:after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}